.navegador {
    list-style: none;
    margin-left: 50%;
}
a {
    color: brown;
}
a:hover {
    cursor: pointer;
    color: blue;
    text-decoration-color: aquamarine;
}
#Animales {
    background-color: antiquewhite;
    color: black;
    border: 2 px solid black
}
#Nombres{
    color: white;
    background-color: black;
}
.email{
    color: bisque;
}